#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ececefaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #f7fafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.box-container {
  display: flex; /* Use flexbox to arrange items horizontally */
  justify-content: space-between; /* Distribute space between items */
}

/* Individual boxes */
.box {
  width: 100px; /* Set the width of each box */
  height: 100px; /* Set the height of each box */
  background-color: #fea307; /* Set the background color */
  border: 2px solid rgb(14, 11, 11); /* Add a border */
}


/* Style for a big text with black color */
.big-text {
  font-size:  24px; /* Adjust the font size as needed */
  color: rgb(46, 218, 19); /* Set the text color to black */
}

.status {
  font-family: 'Caesar Dressing', sans-serif; /* Set the font to Caesar Dressing */
  padding: 30px; /* Add padding to the status element */
  font-size: 30px
}
