/* Fonts.css


  @font-face {
    font-family: 'Nova';
    src: url('./path-to-nova-font.woff2') format('woff2'); /* Replace with the actual font file path */
    /* font-weight: normal;
    font-style: normal;
  } */

/* 
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Permanent Marker', cursive; */ 